.card-container{
    width: 50%vw;

    .c-header{
      
        text-align: center;
    }
    
    
}
    .c-card{
        display: inline-block;
        width: 50%;
        max-width: 250px;
        margin: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        background: #fff;
        box-shadow: 0 6px 10px -5px rgba(221, 27, 27, 0.2);

  &:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
    }
}
  
